.comment-content {
  border: 1px solid lighten($color__table-header-background, 20%);
  padding: 0 0.5em;
  //background-color: ;

  a {
    word-wrap: break-word;
  }
}

.bypostauthor {
  display: block;
}

.comment-meta {
  background-color: lighten($color__table-header-background, 20%);
  margin-left: 2em;

  .avatar {
    margin-right: 1em;
  }
}

.comment-metadata {
  background-color: lighten($color__table-data, 30%);
  padding-left: 2em;
  font-size: $font__size_body_secondary;
}

.comment-list {
  //background-color: green;

}