// Site Header

.header-image {
  max-height: 60vh;
  overflow: hidden;

  img {
    display: block;
    width: 100vw;
  }

  // Hide header image on smaller screens
  @media screen and (max-width: $query__small){
    display: none;
  }
}

.site-header {
  position: relative;
  padding: 1em;
  background-color: $color__background-header;
  //@include gradient($color_white, $color_brown);

  @media screen and (min-width: $query__small) {
    padding: 1em 2em;
  }
}

.site-branding {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .custom-logo-link {
    margin-right: 1em;
    img {
      height: 100px;
      width: auto;
    }

    .site-branding-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100px;
    }

    @media screen and (min-width: $query__small) {
      margin-right: 1em;
    }
  }
}

// Home Page heading is h1, pages heading is p
.site-title {
  font-size: $font__size_subheading;
  margin: 0;
  padding: 0;
  font-weight: bold;
  //text-align: center;

  a {
    text-decoration: none;
    color: $color__heading-dark;

    &:hover, &:focus {
      color: $color__heading-light;
    }
  }

  @media screen and (min-width: $query__small) {
    font-size: $font__size_heading;
  }
}

.site-description {
  margin: 0;
  font-size: $font__size_lesser_subheading;
  padding: 0.1em 0;
  //text-align: center;

  @media screen and (max-width: $query__small) {
    display: none;
  }
}

// Display navigation to side on larger screens
@media screen and (min-width: $query__large) {
  .site-header {
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    //align-items: flex-end;
  }

  .site-branding {
    //width: 100%;
    //width: 33%;
    max-width: 40%;
    //flex: 1 0 auto;
    //margin-bottom: 1em;
  }

  .site-navigation {
    //width: 100%;
    //width: 40%;
    //margin-left: auto;
    max-width: 40%;
  }
}

// TODO: Go to header php and swap the text for a hamburger icon
.menu-toggle {
  border-radius: 10px;
  margin-left: auto;
}
