hr {
	height: 2px;
	background-color: $color__background-hr-out;
	background-image: linear-gradient(to right, $color__background-hr-out, $color__background-hr-in, $color__background-hr-out);
	border: none;
	margin: 20px 0;
}
